<div class="row">
    <div class="col-xs-12 col-sm-9">
        <h2>Hi there villager,</h2>
        <p>in this site you can save your collection of Animal Crossing Amiibo Cards. This site was developed by <a href="http://www.twitter.com/AlgusDark">@AlgusDark</a>, if you have a problem with the site, don't hesitate to contact him.</p>
        <h2>Sections</h2>
        <h3>+ All</h3>
        <p>List of all the Animal Crossing Amiibo Cards (of the corresponding serie)</p>
        <h3>+ Collection</h3>
        <p>Wanna know how many cards do you have? this is the section where you can see that.</p>
        <h3>+ Favorites</h3>
        <p>Every person has a favorite neighbor, here you can see all your favorite cards.</p>
        <h3>+ Missing</h3>
        <p>One of the best features in this page. Share this section to friends so they can see your missing cards, also they can see what are the favorites cards you don't have, maybe that's the first cards you want in your collection.</p>
        <h3>+ Repeated</h3>
        <p>It's a shame that you have repeated cards, here you can see those and also share to others, so they can easily request a trade</p>
        <h3>+ Visit village</h3>
        <p>Search for a specific friend or look through other villagers and their collections.</p>
    </div>
    <div class="col-xs-12 col-sm-3 text-center">
        <img src="public/images/shizue.png" alt="Shizue">
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-3 text-center">
        <img src="public/images/lottie.png" alt="Lottie" class="hidden-xs">
    </div>
    <div class="col-xs-12 col-sm-9">
        <h2>What are the buttons below a card?</h2>
        <p> <span class="btn btn-collection"><i class="fa fa-plus"></i></span> Add to your collection </p>
        <p> <span class="btn btn-collection"><i class="fa fa-check"></i></span> Already in your collection </p>

        <p> <span class="btn btn-repeated"><i class="fa fa-repeat"></i></span> Add as a repeated card </p>
        <p> <span class="btn btn-repeated"><i class="fa fa-clone"></i></span> You have this one repeated </p>

        <p> <span class="btn btn-star"><i class="fa fa-star"></i></span> Add to your favorites </p>
        <p> <span class="btn btn-star"><i class="fa fa-star fav"></i></span> This is one of your favorite cards </p>
    </div>
</div>
